@use "variables" as *;

.v-btn {
  &.v-btn--variant {
    &-outlined,
    &-tonal {
      background-color: $white;
    }
    &-plain {
      opacity: 1;
    }
  }
  &.bg-info {
    border: thin solid $gray-400;
    color :$black;
  }
  &.v-btn--size {
    &-large {
      font-size: 0.875rem,
    }
    &-x-large {
      font-size: 1rem,
    }
  }
  &.v-btn--icon {
    &.v-btn--density {
      &-default {
        --v-btn-size: 1.25rem;
      }
      &-comfortable {
        --v-btn-size: 1.125rem;
      }
      &-compact {
        --v-btn-size: 1rem;
      }
    }
  }
}
