@use "variables" as *;

.v-btn {
  &.v-btn--variant {
    &-outlined,
    &-tonal {
      background-color: $white;
    }
    &-plain {
      opacity: 1;
    }
  }
  &--disabled {
    opacity: 0.26 !important;
  }
  &.bg-info {
    border: thin solid $gray-400;
    &.v-btn--disabled {
      .v-btn__overlay {
        opacity: 0 !important;
      }
    }
  }
  &.bg-secondary {
    &.v-btn--disabled {
      .v-btn__overlay {
        opacity: 0 !important;
      }
    }
  }
  &.v-btn--size {
    &-large {
      font-size: 0.875rem;
    }
    &-x-large {
      font-size: 1rem;
    }
  }
  &.v-btn--icon {
    background: transparent;
    &.v-btn--density {
      &-default {
        --v-btn-size: 1.25rem;
      }
      &-comfortable {
        --v-btn-size: 1.125rem;
      }
      &-compact {
        --v-btn-size: 1rem;
      }
    }

    &.icon-lg {
      width: 32px;
      height: 32px;

      .v-icon--size-default {
        font-size: 1.75rem;
      }
    }
    &.icon-md {
      width: 24px;
      height: 24px;
      &.v-btn--variant-outlined {
        .v-icon--size-default {
          font-size: 1.25rem;
        }
      }
      .v-icon--size-default {
        font-size: 1.5rem;
      }
    }
    &.icon-sm {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      .v-icon--size-default {
        font-size: 1rem;
      }
    }
  }
}

.link-button {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  &-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
