@use "variables" as *;
@use "typography" as *;

//form
.v-field {
  .v-field__outline__start, 
  .v-field__outline__notch::before, 
  .v-field__outline__notch::after, 
  .v-field__outline__end {
    border-color: $gray-500 !important;
  }
  &:hover, &.v-field--focused {
    .v-field__outline__start, 
    .v-field__outline__notch::before, 
    .v-field__outline__notch::after, 
    .v-field__outline__end {
      border-color: $gray-700 !important;
    }
    .v-field__clearable {
      display: flex;
    }
  }
  &.v-field--disabled {
    opacity: 1;
    color: $gray-500 !important;
    .v-field__overlay {
      background: $gray-100;
    }
    .v-field__outline__start, 
    .v-field__outline__notch::before, 
    .v-field__outline__notch::after, 
    .v-field__outline__end {
      border-color: $gray-300 !important;
    }
  }
  @at-root .append-button {
    .v-field--appended {
      padding-inline-end: 8px;
    }
  }
}
.v-select {
  min-width: 120px;
  &__content {
    .v-list {
      padding: 0 8px 8px;
      border: thin solid $gray-400;
      .v-list-item {
        margin-top: 8px;
        border-radius: 4px !important;
        min-height: 32px;
        .v-list-item-title {
          @extend .text-4-md;
        }
      }
    }
  }
  .v-field.rounded-pill {
    .v-field__outline__start {
      flex-basis: 50% !important;
    }
  }
}
.v-autocomplete {
  &__content {
    border: thin solid $gray-400;
    .v-list {
      padding: 0 8px 8px;
      .v-list-item {
        padding-inline: 8px !important;
        margin-top: 8px;
        min-height: 32px;
        border-radius: 4px !important;
        .v-list-item-title {
          @extend .text-4-md;
        }
        &__prepend {
          padding:0;
          margin-right: 6px;
        }
        &__spacer {
          display:none;
        }
      }
      .v-avatar {
        width: 24px !important;
        height: 24px !important;
        border-radius: 0;
      }
    }
  }
}
.search-wrap {
  margin-bottom: 50px;
  &:has(.v-form) {
    > .v-form {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: flex-end;
    }
  }
  &:not(:has(.v-form)) {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-end;
  }
  .v-input {
    padding-top: 20px;
    position: relative;
    flex-basis: 338px;
    flex-grow: 0;
    .v-label {
      display: none;
    }
    &.required {
      .v-label:after {
        display: inline-block;
        content: "*";
        margin-left: 2px;
        color: #e6171b;
      }
    }
    .v-input__details {
      padding-inline: 0;
      position: absolute;
      top: 4px;
      padding: 0;
      min-height: 14px;
    }
  }
  .v-field {
    &__prepend-inner {
      color: $black;
      .v-icon {
        opacity: 1;
      }
    }
    &.v-field--variant-outlined {
      .v-field__outline {
        .v-label {
          contain: unset;
          margin: 0;
          transform: unset;
          visibility: unset !important;
          opacity: 1;
          display: block;
          position: fixed;
          top: -20px;
          left: 0;
          pointer-events: stroke;
          @extend .caption-3-md;
          color: $gray-800;
        }
        .v-field__outline__notch::before {
          opacity: var(--v-field-border-opacity);
        }
      }
    }
  }
  .search-inp {
    flex-grow: 1;
  }
}
.search-inp {
  position: relative;
  .v-btn {
    position: absolute;
    bottom: 6px;
    right: 10px;
  }
  .v-icon {
    pointer-events: none;
    --v-medium-emphasis-opacity: 0.5;
  }
  &.v-input--dirty {
    .v-icon {
      pointer-events: all;
      opacity: 1;
    }
  }
  input {
    padding-left: 20px;
    &::placeholder {
      color: $gray-500 !important;
      opacity: 1 !important;
    }
  }
  .v-field {
    padding-inline-end: 20px;
  }
  .v-field__outline__start {
    flex-basis: 50% !important;
  }
}
.v-file-input {
  .v-field {
    .v-field__outline__notch {
      display:none;
    }
    .v-field__field .v-label.v-field-label {
      @extend .text-4;
    }
  }
  .v-field--active {
    .v-label.v-field-label {
      visibility: unset;
      color: $gray-500 ;
    }
    .v-field__input {
      visibility: hidden;
      opacity:0;
      font-size: 0;
    }
  }
}
.file-guide-text {
  margin-top: 6px;
  @extend .caption-3;
  color: $gray-700;
  & + .file-list {
    margin-top: 12px;
  }
}

.file-total {
  display: flex;
  gap: 6px;
  @extend .text-3-md;
  + .file-list {
    margin-top: 16px;
  }
}
.file-list {
  li {
    display: flex;
    align-items: center;
    & + li { margin-top: 10px; }

    .file-download {
      @extend .text-3;
      text-decoration: underline;
      text-underline-offset: 2px;
      cursor: pointer;
      @include line-clamp(1);
      display: unset;
    }
    em {
      margin-left: 8px;
      color: $gray-700;
      @extend .text-3;
    }
    .v-icon {
      font-size: 24px;
    }
    .v-btn.file-delete {
      margin-left: 16px;
      .v-icon {
        font-size: 14px;
      }
    }
    .name {
      margin-left: 6px;
      @include line-clamp(1);
      @extend .text-4;
    }
  }
  @at-root .mobile, .tablet {
    .file-list {
      li {
        .v-btn.file-delete {
          margin-left: 6px;
        }
      }
    }
  }
  
  @at-root .file-input-guide + .file-input-list {
    margin-top: 20px;
  }
}

// form sheet
.form-sheet {
  padding: 50px 40px;
  background: $white;
  border-radius: $base-radius;
  .v-row {margin: 0 -6px;}
  .v-row + .v-row {margin-top: 40px;}
  .v-col {
    display: grid;
    grid-template-columns: 248px 1fr;
    gap: 12px;
    padding: 0 6px !important;
    min-height: 39px;
    & > .v-label {
      @extend .text-3-md;
      &.require {
        &:after {
          content:"*";
          display:inline-block;
          margin-left: 2px;
          @extend .caption-3-md;
          color: $red-600;
        }
      }
    }
  }
  .label-form {
    display: table;
    .text-value {
      display: table-cell;
      vertical-align: middle;
      @extend .text-3-md;
      padding-left: 16px;
    }
    .v-switch {
      display: table-cell;
      vertical-align: middle;
      .v-selection-control--density-compact {
        --v-selection-control-size: 20px;
      }
    }
    .editor {
      height: 300px;
    }
  }
  .v-input:not(.v-switch) {
    min-width: 280px;
    max-width: 900px;
  }
  .v-divider {
    margin: 30px 0;
    opacity: 1;
    color: $gray-300;
  }
}
@media only screen and (max-width: 1279px) {
  .form-sheet {
    padding: 40px 20px;
    .v-col {
      grid-template-columns: 150px 1fr;
    }
  }
}
@media only screen and (max-width: 767px) {
  .form-sheet {
    //padding: 40px 20px;
    .v-row + .v-row {margin-top: 30px;}
    .v-col {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
    .label-form {
      .text-value { padding-left: 0; }
    }
    .v-input:not(.v-switch) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

// 아코디언
.v-expansion-panels {
  margin-top: 20px;
  .v-expansion-panel-title {
    gap: 12px;
    @extend .text-3;
    > p {
      @include line-clamp(1);
    }
    &--active {
      min-height: 55px;
      &::after{
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: thin solid $gray-300;
      }
    }
  }
  .v-expansion-panel-text {
    background-color: $gray-100;
  }
   .v-expansion-panel--active + .v-expansion-panel::after {
      opacity: 0;
  }
  @at-root .mobile, .tablet {
    .v-expansion-panels {
      .v-expansion-panel-title {
        padding: 20px ;
        > p {
          @include line-clamp(2);
        }
      }
    }
  }
}