@use "variables" as *;
@use "typography" as *;

//공통 옮길 예정
.v-empty-state {
  border-radius: 20px;
  &__media {
    margin-bottom: 26px;
  }
  &__text {
    @extend .text-2-md;
    color: $gray-800;
  }
}

.banner {
  height:100%;
  background-position: center center;
  display:flex;
  align-items: center;
  &-text {
    width: 100%;
    max-width: 660px;
    margin:0 auto;
    padding: 0 0 0 24px;
    @extend .title-4-bd;
    color: $white;
  }
  @at-root .banner-wrap {
    height: 140px;
    border-radius: 12px;
    overflow:hidden;
  }
  @at-root .mobile {
    .banner-wrap {height: 90px;}
    .banner {
      background-size: auto 100%;
      .banner-text {
        margin-block: 24px;
        max-width: 100%;
        @extend .text-4-md;
      }
    }
  }
}

.v-btn-toggle.sort-btns {
  .v-btn {
    padding: 0 8px;
    font-weight: 400;
    color: $gray-700;
    &--size-default {
      min-width: auto;
    }
    .v-btn__content {
      line-height: 1;
    }
    &.v-btn--active {
      font-weight: 500;
      color: $black;
    }
  }
}

.v-select {
  &.round {
    .v-field {
      &__outline__start {
        flex-basis: 50% !important;
      }
    }
  }
  &.v-input--density-comfortable .v-field__input{
    font-size: 1rem !important;
  }
}

.keyvisual {
  $keyvisual-w: 1920px;
  $keyvisual-h: 548px;
  overflow: hidden;
  position: relative;
  height: $keyvisual-h;
  background: $white;
  margin-top: -$base-margin;
  .v-window {
    height: 100%;
  }
  .visual {
    width: 100%;
    height: $keyvisual-h;
    background-position: center top;
  }
  .visual-content {
    display: flex;
    align-items: center;
    position: relative;
    width:100%;
    max-width: 1240px;
    height: 100%;
    margin: 0 auto;
    .context {
      position: relative;               
      z-index: 1;
      .title {
        display: block;
        @extend .title-1;
      }
      .description {
        max-width: 540px;
        margin-top: 12px;
        word-break: keep-all;
        @extend .text-2;
        color: $gray-700;
      }
      .type {
        display: block;
        margin-bottom: 16px;
        @extend .title-5-bd;
        color: $green-700;
      }
    }
    .context-img {
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 0;
      width: 530px;
      height: 330px;
    }
  }
  .controls {
    position: absolute; 
    bottom:58px; 
    left: 50%; 
    transform: translateX(-50%);
    display:flex;
    align-items: center;
    .v-btn--icon {
      width: 20px;
      height: 20px;
      color: $gray-500;
      font-size: 20px;
      .v-icon {
        font-size: 20px;
      }
    }
    .v-btn {
      &.prev {margin-right: 6px;}
      &.next {margin-left: 6px;}
    }
    .indicator {
      display:flex; 
      align-items: center;
      margin-inline: -3px 4px;
      .v-btn--icon {
        overflow: hidden;
        width: 12px;
        &.active {
          color: $blue-500;
        }
      }
    }
  }
  .hidden {
    visibility: hidden;
    position: absolute;
    top:0;
    font-size: 1px;
    color: transparent;
  }
}

//v-chip
.v-chip.flag {//flag
  &.v-chip--variant-tonal {
    .v-chip__underlay {display:none;}
  }
  &.v-chip--size {
    &-default {
      padding: 0 10px;
    }
    &-xsmall {
      padding: 0 8px;
    }
    &-x-large {
      padding: 0 16px;
    }
  }
  &.text-success {background: $blue-100;}
  &.text-purple {background: $purple-100;}
  &.text-pink {background: $pink-100;}
  @at-root .flags .v-chip.flag {//in .apps
    margin-left: 4px;
  }
  @at-root .mobile {
    .v-chip.flag {
      &.v-chip--size {
        &-default {
          height: 24px !important;
        }
      }
    }
  }
}

//앱 리스트
.appcard {
  &.v-card {
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    .d-flex {
      justify-content: space-between;
      & + .d-flex {margin-top: 31px;}
    }
    & .v-card__overlay {display:none;}
    .v-btn.like {
      margin-left: -10px;
    }
    .btns {
      margin-bottom:-14px;
      .v-btn {width: 96px !important;}
    }
    .thumnail.v-img{
      width: 60px; 
      height: 60px;
      object-fit: contain;
    }
    .flags {
      text-align: right;
      margin-bottom: -4px;
      .flag {
        margin-bottom: 4px;
      }
    }
    .v-card-title, .v-card-subtitle {
      padding:0 10px 0 0;
      @include line-clamp(1);
    }
    .v-card-text {
      padding:12px 0 0;
    }
    .v-card-subtitle + .v-card-title {padding-top:6px;}
    .clamp2 {
      @include line-clamp(2);
    }
    @at-root .mobile {
      .appcard.v-card {
        padding: 20px;
        .thumnail {
          width: 54px; height: 54px;
        }
        .d-flex  + .d-flex {margin-top: 24px;}
        .v-btn.like .v-icon {margin-right: 0;}
      }
    }

    //carousel
    @at-root .v-carousel {
      .appcard.v-card {
        height: auto;
      }
    }
  }
}
.apps-list{
  .apps-list_btn {
    margin-top: 40px;
    text-align:center;
  }
  .v-empty-state {
    height: 720px;
  }
  &.grid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    .apps-grid-fix {
      display:flex;
      margin-left: 20px;
      img {display:block; width:100%; height: auto; object-fit: contain;}
    }
  }
  @at-root .tablet {
    .apps-list {
      .v-col-4 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      &.grid {
        display:block;
      }
    }
  }
  @at-root .mobile {
    .v-row {margin:-6px;}
    .v-row > [class*="v-col"] {
      padding: 6px;
    }
    .apps-list_btn {
      margin-top: 20px;
    }
    .apps-list {
      [class*="v-col"] {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &.grid {
        display:block;
        .apps-grid-fix {
          display:block;
          margin-top: 12px;
          margin-left: 0;
          img {width:100%; max-width: 320px; margin:0 auto;}
        }
      }
    }
  }
}
