@use "variables" as *;
@use "typography" as *;

//공통에 옮길 예정
.v-btn {
  &.more {
    font-size: 16px !important;
    color: $gray-700;
    .v-icon {
      margin-left: 10px;
      background: inherit;
    }
  }
  &.like {
    padding: 0 !important;
    min-width: auto !important;
    @extend .text-2-md;
    .v-icon {margin-right: 4px;}
  }
}

//v-chip
.v-chip.flag {//flag
  &.v-chip--variant-tonal {
    .v-chip__underlay {display:none;}
  }
  &.v-chip--size {
    &-default {
      padding: 0 10px;
    }
    &-xsmall {
      padding: 0 8px;
    }
    &-x-large {
      padding: 0 16px;
    }
  }
  &.text-success {background: $blue-100;}
  &.text-purple {background: $purple-100;}
  &.text-pink {background: $pink-100;}
  @at-root .flags .v-chip.flag {//in .apps
    margin-left: 4px;
  }
  @at-root .mobile {
    .v-chip.flag {
      &.v-chip--size {
        &-default {
          height: 24px !important;
        }
      }
    }
  }
}

//앱 리스트
.appCard {
  &.v-card {
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    .d-flex {
      justify-content: space-between;
      & + .d-flex {margin-top: 31px;}
    }
    & .v-card__overlay {display:none;}
    .btns {
      margin-bottom:-14px;
      .v-btn {width: 96px !important;}
    }
    .thumnail.v-img{
      width: 60px; 
      height: 60px;
      object-fit: contain;
    }
    .flags {
      text-align: right;
      margin-bottom: -4px;
      .flag {
        margin-bottom: 4px;
      }
    }
    .v-card-title, .v-card-subtitle {
      padding:0 10px 0 0;
      @include line-clamp(1);
    }
    .v-card-text {
      padding:12px 0 0;
    }
    .v-card-subtitle + .v-card-title {padding-top:6px;}
    .clamp2 {
      @include line-clamp(2);
    }
    @at-root .tablet {
      .appCard.v-card{
        & {padding: 24px; }
      }
    }
    @at-root .mobile {
      .appCard.v-card {
        padding: 20px;
        .thumnail {
          width: 54px; height: 54px;
        }
        .d-flex  + .d-flex {margin-top: 24px;}
        .v-btn.like .v-icon {margin-right: 0;}
      }
    }
  }
}
.appsLst{
  .appsLst_btn {
    margin-top: 40px;
    text-align:center;
  }
  .v-empty-state {
    height: 720px;
    border-radius: 20px;
    &__media {
      $empty-icon-size: 60px;
      width: $empty-icon-size;
      height: $empty-icon-size;
      margin-bottom: 26px;
      .v-icon {
        width: 100% !important;
        height: 100% !important;
        font-size: $empty-icon-size;
      }
    }
    &__text {
      @extend .text-2-md;
    }
  }
  &.grid {
    display:grid;
    grid-template-columns: 2fr 1fr;
    .apps-grid-fix {
      display:flex;
      margin-left: 20px;
      img {display:block; width:100%; height: auto; object-fit: contain;}
    }
  }
  @at-root .tablet  {
    .appsLst {
      .v-col-12.v-col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
  @at-root .mobile {
    .v-row {margin:-6px;}
    .v-row > [class*="v-col"] {
      padding: 6px;
    }
    .appsLst.grid {
      display:block;
      .v-col-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .apps-grid-fix {
        display:block;
        margin-top: 12px;
        margin-left: 0;
        img {width:100%; max-width: 320px; margin:0 auto;}
      }
    }
  }
}
