@use "variables" as *;
@use "typography" as *;

//v-chip
.v-chip.flag {//flag
  &.v-chip--variant-tonal {
    .v-chip__underlay {display:none;}
  }
  &.v-chip--size {
    &-default {
      padding: 0 10px;
    }
    &-xsmall {
      padding: 0 8px;
    }
    &-x-large {
      padding: 0 16px;
    }
  }
  &.text-success {background: $blue-100;}
  &.text-purple {background: $purple-100;}
  &.text-pink {background: $pink-100;}
  @at-root .flags .v-chip.flag {//in .apps
    & + .flag {
      margin-left: 5px;
    }
  }
  @at-root .mobile {
    .v-chip.flag {
      &.v-chip--size {
        &-default {
          height: 24px !important;
        }
      }
    }
  }
}


//앱 리스트
.apps {
  &.v-card {
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    .v-card-title, .v-card-subtitle {
      padding:0 10px 0 0;
      @include line-clamp(1);
    }
    .clamp2 {
      @include line-clamp(2);
    }
    .v-card-text {
      padding:12px 0 0;
    }
    .v-card-subtitle + .v-card-title {padding-top:6px;}
    & .v-card__overlay {display:none;}
    .thumnail {
      width: 60px; height: 60px;
      .v-img {object-fit: contain;}
    }
    .btns {
      margin-bottom:-16px;
    }
    .d-flex {
      justify-content: space-between;
      & + .d-flex {margin-top: 31px;}
    }
    @at-root .tablet {
      .apps.v-card{
        & {padding: 24px; }
      }
    }
    @at-root .mobile {
      .apps.v-card {
        .thumnail {
          width: 54px; height: 54px;
        }
        .d-flex  + .d-flex {margin-top: 24px;}
      }
    }
  }
}
.appsLst{
  @at-root .tablet .appsLst {
    .v-col-12.v-col-lg-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
