@use "variables" as *;
@use "typography" as *;

#app {
  .gnb {
    gap: 24px;
    margin-left: 122px;
    overflow: unset;
    .v-btn {
      @extend .title-5-bd;
      color: $black;
      &:hover {
        color: $blue-500;
      }
    }
  }
}

.v-main {
  display: flex;
  flex-direction: column;
  > .inner:first-child {
    margin: $base-margin auto 0;
  }
  .inner {
    // display: flex;
    flex: 1;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    width: 100%;
  }
  @at-root .mobile, .tablet {
    .v-main {
      > .inner:first-child {
        margin: $base-margin-mobile auto 0;
      }
    }
  }
}

.header {
  > .v-toolbar__content {
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1280px;
      width: 100%;
    .v-btn[aria-expanded="true"] {
      position: relative;
      &::before {
        z-index: 99999;
        content: "";
        position: absolute;
        width: 16px;
        height: 9px;
        background: url("@/assets/images/pop_tail.png") no-repeat 0 0 / 100%;
        bottom: -21px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .v-toolbar__append {
      gap: 20px;

      .v-badge {
        &__badge {
          align-items: inherit;
          line-height: 14px;
        }
      }
      .login-session {
        display: flex;
        align-items: center;
        gap: 8px;
        .timer {
          display: flex;
          align-items: center;
          width: 68px;
          gap: 4px;
          @extend .text-3;
          color: $gray-700;
        }
        .v-btn {
          min-width: 48px;
          padding: 0;
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
    }
  }

  .popover {
    .alarm {
      padding: 0 0 12px;
      width: 300px;
      .v-toolbar {
        .v-toolbar-title {
          @extend .text-3-bd;
        }
        .v-btn:first-child {
          margin-inline-start: 12px;
          & + .v-toolbar-title {
            margin-left: 4px;
          }
        }
        .v-btn--icon {
          border-radius: 50%;
        }
        .v-btn:last-child {
          margin-inline-end: 12px;
        }
      }
      .v-divider {
        opacity: 0.12;
      }
      .v-card-text {
        height: 367px;
        overflow-y: scroll;
        padding: 8px 0 0 8px;
        .v-empty-state {
          height: 309px;
          &__media {
            margin-bottom: 10px;
          }
          &__text {
            @extend .text-4-md;
          }
        }

        .v-list {
          padding: 0;
          margin-top: -8px;
          &-item {
            padding: 12px 16px;
            cursor: pointer;
            &-title {
              @include line-clamp(2);
              &.dot {
                position: relative;
                padding-left: 12px;

                &::before {
                  content: "";
                  position: absolute;
                  top: 6px;
                  left: 0;
                  width: 6px;
                  height: 6px;
                  border-radius: 100%;
                  background-color: $red-600;
                }
              }
            }

            &-subtitle {
              margin-top: 6px;
              @extend .caption-3;
              color: $gray-600;
            }
            &:hover {
              .v-list-item-title {
                font-weight: 400 !important;
              }
            }
          }
        }
      }
      .alarm-setting {
        p {
          padding: 8px 10px;
          @extend .caption-3-md;
          color: $blue-500;
        }
        .switch-flip {
          padding: 0 10px;
          .v-selection-control {
            justify-content: space-between;
            flex-direction: row-reverse;
          }
        }
      }
    }
    .popover-tab {
      padding: 16px 20px 8px;
      .v-slide-group__content {gap: 0;}
      .v-chip {
        margin: 0;
        margin-right: 4px;
        border-color: $gray-400;
        color: $gray-800;
        &.selected {
          background: $black;
          border-color: $black;
          color: $white;
          font-weight: 700;
        }
      }
    }
  }

  @at-root .mobile,
    .tablet {
    .header {
      > .v-toolbar__content {
        overflow: unset;
        padding: 0 12px 0 24px !important;
      }
      .v-toolbar__append {
        gap: 10px;
      }
    }
  }
}

.v-footer {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  .inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: right;
      color: $white;
      a {
        @extend .text-3-md;
      }
    }
    .copy {
      @extend .text-4;
      color: $gray-700;
    }
  }
  @at-root .mobile {
    .v-footer {
      margin-top: 60px;
      .inner {
        align-items: unset;
        flex-direction: column;
        gap: 25px;
        .info {
          gap: 4px;
          a {
            font-size: 0.8125rem !important;
          }
        }
        .copy {
          font-size: 0.6875rem !important;
        }
      }
    }
  }
}

.v-navigation-drawer {
  &--active {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) !important;
  }
  .inner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 52px;
    .search-inp {
      flex: none;
      --v-input-control-height: 24px;
      --v-input-padding-top: 8px;
      input {
        padding-bottom: 8px !important;
        min-height: 40px !important;
      }
    }
  }
  @at-root .mobile {
    .v-navigation-drawer {
      .inner {
        gap: 8px;
        align-items: center;
        max-width: 360px !important;
        height: 100%;
        .search-inp {
          max-width: calc(100% - 40px);
        }
      }
    }
  }
}

.gnb-drawer.v-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  .v-card {
    &-title {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding: 12px 20px;
    }
    &-text {
      overflow-y: auto;
      flex: 1;
      padding: 0 8px;
      max-height: calc(100vh - 146px);
    }
    &-actions {
      padding: 20px 20px 48px;
      .v-btn {
        flex: 1;
      }
    }
  }
  .v-list-item {
    &-title {
      @extend .title-5-bd;
    }
    &.sub-menu {
      min-height: 40px !important;
      .v-list-item-title {
        @extend .text-3-md;
        color: $gray-800;
      }
    }
    &--active {
      .v-list-item__overlay {
        opacity: 0 !important;
      }
    }
  }
}


.mobile {
  .v-row {
    margin: -6px;
    [class*="v-col"] {
      padding: 6px;
    }
  }
}

@media only screen and (max-height: 520px) {
  .mobile,
  .tablet {
    .header {
      .v-btn[aria-expanded="true"] {
        &::before {
          display: none;
        }
      }
      .popover .alarm .v-card-text {
        max-height: calc(100vh - 145px);
      }
      .popover .alarm .v-card-text.alarm-setting {
        max-height: calc(100vh - 95px);
      }
    }
  }
}

//error
.error.v-main {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  .wrap {
    text-align: center;
  }
  .v-img {
    width: 500px;
  }
  .error-title {
    margin-block: 12px 40px;
    & > * {display: block;}
    .title-2-bd {
      margin-bottom: 20px;
      line-height: 1.15 !important;
    }
  }
  .error-context {
    white-space: pre-wrap;
    color: $gray-700;
  }
  @at-root .mobile {
    .error.v-main {
      padding: 0 20px;
      word-break: keep-all;
      .v-img {
        width: 320px;
        margin: 0 auto;
      }
      .error-title {
        margin-block: 20px;
        .title-2-bd {
          margin-bottom: 8px;
        }
      }
    }
  }
}

//login
.login.v-main {
  display:grid;
  grid-template-columns: 1fr 740px;
  width: 100%;
  background: $gray-200;
  .loginBg {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 100px 54px 0;
    .logo {
      display:block; 
      width: fit-content;
      position: absolute;
      top: 40px;
      left: 54px;
    }
    .bg {
      width: 100%; 
      max-width: 654px; 
      height: auto; 
    }
  }
  .loginForm {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px 30px;
    background: $white;
    box-shadow: 0px 4px 60px 0px #DCE2F7;
    .title-4-bd {
      display:block;
      margin-block:7.31vh 40px;
      text-align: center;
    }
    .info-txt {
      margin-top: 12px;
      color: $gray-700;
      span {display:inline-block; margin-left: 4px;vertical-align: middle;}
    }
  }
  .divider {
    color: $gray-800;
    margin-block: 28vh 24px;
    text-align: center;
  }
  .v-btn.bg-yellow {
    width: 480px;
  }
  .v-btn.bg-info {
    width: 180px;
    .v-icon--size-large {
      font-size: 1.25rem;
    }
  }
  
  @at-root .tablet {
    .login.v-main {
      grid-template-rows: minmax(1fr, 50%) auto;
      .loginBg .bg{
        max-width: calc(654px * 0.6) !important; 
      }
      .divider {
        width: 480px;
        margin-inline: auto;
      }
      .v-btn.bg-yellow {
        width: 480px !important;
      }
    }
  }
  @at-root .mobile, .tablet {
    .login.v-main {
      grid-template-columns: 1fr;
      .loginBg {
        padding: 88px 20px 0;
        .logo {
          left: 24px;
        }
        .bg {
          max-width: 324px; 
          padding: 32px 0;
        }
      }
      .loginForm {
        justify-content: flex-start;
        padding: 0 20px 40px;
        background: $gray-200;
        box-shadow: none;
        .title-4-bd {
          margin-block: 0 28px;
        }
        .info-txt {
          margin-top: 20px;
        }
      }
      .divider {
        position: relative;
        margin-block: 16px;
        color: $gray-700;
        span {
          position: relative;
          z-index:1;
          display:inline-block;
          padding: 0 20px;
          background: $gray-200;
        }
        &:before {
          content:"";
          display:block;
          position: absolute;
          top: 8px;
          width:100%;
          height:1px;
          background: $black;
          opacity:.15;
        }
      }
    }
  }
  @at-root .mobile {
    .login.v-main {
      .loginForm {
        grid-template-rows: auto 1fr;
      }
      .divider {
        width:100%;
      }
      .v-btn.bg-yellow {
        width: 100%;
      }
    } 
  }
}

//privacy
.privacy-wrap {
  margin-top: 12px;
}
.privacy-index {
  padding: 26px 30px;
  border-radius: $base-radius !important; 
  strong {
    display:block; 
    margin-bottom: 20px;
  }
  &-item {
    display:block;
    height: 20px;
    & > span {
      display: inline-block;
      vertical-align: middle;
      line-height: 20px !important;
      padding-right: 8px;
    }
    & > a {
      display:inline-block;
      line-height: 20px !important;
      text-decoration: underline;
      text-underline-offset: 2px;
      vertical-align: text-bottom;
      @extend .text-4;
    }
    & + .privacy-index-item {
      margin-top: 8px;   
    }
  }
}
.privacy {
  border-top-left-radius: $base-radius !important; 
  border-top-right-radius: $base-radius !important;  
  & + & {margin-top: 12px;}
  &-title {
    padding: 18px;
    border-bottom: 1px solid $gray-300;
    @extend .text-3;
  }
  &-context {
    padding: 40px; 
    @extend .text-4;
    white-space: pre-wrap;
  }
  @at-root .mobile, .tablet {
    .privacy-index {
      padding: 20px;
      strong {
        margin-bottom: 16px;
      }
    }
    .privacy {
      &-title {
        padding-bottom: 20px;
      }
      &-context {
        padding: 20px; 
      }
    }
  }
}
