.v-footer {
  display: flex;
  justify-content: center;
  .v-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: right;
      color: #fff;
    }
    .copy {
      font-size: 14px;
      color: #949494;
    }
  }
}
.mobile {
  .v-footer {
    .v-container {
      align-items: unset;
      flex-direction: column;
      gap: 25px;
      .info {
        gap: 4px;
      }
      .copy {
        font-size: 11px;
      }
    }
  }
}

.v-app-bar {
  .v-toolbar__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
.mobile {
.v-app-bar {
  .v-toolbar__content {
    padding: 0 12px 0 24px;
  }
}
}
