.v-footer {
  display: flex;
  justify-content: center;
  .v-container {
    justify-content: space-between;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: right;
      color: #fff;
    }
    .copy {
      font-size: 14px;
      color: #949494;
    }
  }
}
.mobile {
  .v-footer {
    .v-container {
      align-items: unset;
      flex-direction: column;
      gap: 25px;
      .info {
        gap: 4px;
      }
      .copy {
        font-size: 11px;
      }
    }
  }
}
