@use "variables" as *;
@use "typography" as *;

.main {
  margin-top: 0;
  background: $white;
  .inner {
    display: flex;
    gap: 56px;
    .user {
      width: 254px;
      flex: none;
    }
    .content {
      flex: 1;
    }
  }

  .v-footer {
    margin-top: 0;
  }
  .v-row {
    margin: -7.5px;
    [class*="v-col"] {
      padding: 7.5px;
    }
  }

  .notice-banner {
    margin: 20px 0 80px;
    background: $gray-200;
    height: 52px;
    padding: 16px 24px;
    display: flex;
    gap: 16px;
    border-radius: 32px;
    a {
      @include line-clamp(1);
      line-height: 20px;
    }
  }

  .community {
    .v-card {
      &-text {
        display: flex;
        flex-direction: column;
        padding: 36px 30px;
        height: 100%;
      }
      .title-4 {
        word-wrap: break-word;
        word-break: keep-all;
      }
      .text-2 {
        margin-top: 16px;
        color: $gray-700;
      }
      .author {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 1rem;
        line-height: 15px;
        color: $gray-800;
        .v-divider {
          align-self: auto;
          opacity: 0.8;
          margin: 0;
          height: 15px;
        }
        .v-icon {
          margin-left: auto;
          width: 30px;
          height: 30px;
          background: $white;
          border-radius: 100%;
        }
        &.bg {
          gap: 9px;
          margin: 24px -30px -36px;
          padding: 0 30px;
          height: 98px;
          background: rgba(0, 0, 0, 0.1);
          font-size: 1.25rem;
          line-height: 18px;
          .v-divider {
            height: 18px;
          }
        }
      }
      &.white {
        .author {
          background: rgba(255, 255, 255, 0.1);
          color: $white;
        }
      }
    }
  }

  .quick-links {
    margin-bottom: 120px;
    .v-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
      height: 136px;

      &-item {
        padding: 0;
      }
      &-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2rem;
      }
      &-subtitle {
        padding: 0;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
      }
    }
  }

  @at-root .mobile {
    .v-main.main {
      .notice-banner {
        height: 44px;
      }
    }
  }
}
