@use "variables" as *;
@use "typography" as *;

.v-main.main {
  margin-top: 0;
  background: $white;
  .inner {
    display: flex;
    gap: 56px;
    .user {
      width: 254px;
      flex: none;
    }
    .content {
      flex: 1;
    }
  }
  .section {
    margin: 120px 0;
  }
  .v-footer {
    margin-top: 0;
  }

  .quick-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    height: 136px;
    .v-card {
      &-item {
        padding: 0;
      }
      &-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2rem;
      }
      &-subtitle {
        padding: 0;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
      }
    }
  }
}
