@use "variables" as *;
@use "typography" as *;

.v-main.main {
  margin-top: 0;
  background: $white;
  .inner {
    display: flex;
    gap: 56px;
    .user {
      width: 254px;
      flex: none;
    }
    .content {
      flex: 1;
    }
  }
  .section {
    margin: 120px 0;
  }
  .v-footer {
    margin-top: 0;
  }

  .quick-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    height: 136px;
    .v-card {
      &-item {
        padding: 0;
      }
      &-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 2rem;
      }
      &-subtitle {
        padding: 0;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
      }
    }
  }
  .notice-banner {
    background: $gray-200;
    height: 52px;
    padding: 16px 24px;
    display: flex;
    gap: 16px;
    border-radius: 32px;
    &:hover .links a {
      animation-play-state: paused;
    }
    .cont {
      overflow: hidden;
      height: 20px;
    }
    .links {
      a {
        animation: rolling 5s linear infinite;
        @include line-clamp(1);
        &:nth-child(1) {
          animation-delay: 0s; /* 첫 번째 링크는 바로 애니메이션 시작 */
        }

        &:nth-child(2) {
          animation-delay: 5s;
        }

        &:nth-child(3) {
          animation-delay: 10s;
        }

        &:nth-child(4) {
          animation-delay: 15s;
        }

        &:nth-child(5) {
          animation-delay: 20s;
        }
      }
    }
  }
}

@keyframes rolling {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
