@use "variables" as *;
@use "typography" as *;

.v-dialog {
  &[class*="popup-"] {
    .v-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 12px 12px 24px;
      @extend .title-5-bd;

      border-bottom: 1px solid black;
      .v-btn {
        margin-left: auto;
        padding: 0;
        border-radius: 50%;
      }
      &:has(:not(span)) {
        border-bottom-color: transparent;
      }
    }
    .v-card-text {
      position: relative;
      padding: 24px !important;
      .pagination {
        margin-bottom: 0;
      }
    }
    .v-card-actions {
      justify-content: center !important;
      padding: 16px 24px 24px;
      &:not(:has(.v-spacer)) .v-btn {
        width: 180px;
      }
    }
    .v-data-table {
      border-radius: 4px;
      .v-table__wrapper {
        th {
          border-top: thin solid black;
          &:first-child {
            border-radius: 4px 0 0 0;
          }
          &:last-child {
            border-radius: 0 4px 0 0;
          }
        }
        th:first-child,
        td:first-child {
          border-left: thin solid black;
        }
        th:last-child,
        td:last-child {
          border-right: thin solid black;
        }
        tr:last-child {
          td:first-child {
            border-radius: 0 0 0 4px;
          }
          td:last-child {
            border-radius: 0 0 4px 0;
          }
        }
      }
    }
    &:not(.popup-sm) {
      .v-card-actions {
        .v-btn {
          min-width: 82px;
          &:has(.v-btn__prepend) {
            min-width: 106px;
          }
        }
      }
    }
  }
  &.popup-sm {
    .v-card {
      width: 312px;
    }
    .v-card-text {
      min-height: 80px;
      padding: 16px 24px !important;
      text-align: center;
      .alert-txt {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
      }
    }
    .v-card-actions {
      padding: 16px;
      .v-btn {
        flex: 1;
      }
    }
  }
  &.popup-md {
    .v-card {
      width: 640px;
    }
  }
  &.popup-lg {
    .v-card {
      width: 1200px;
    }
  }

  .v-table {
    margin-top: 0 !important;
  }
}

.popover {
  .v-card {
    position: relative;
    min-width: 160px;
    padding: 0 8px;
    border: thin solid $gray-300;
    .v-list-item {
      .v-list-item-title {
        @extend .text-4;
      }
      &:hover {
        .v-list-item-title {
          font-weight: 600 !important;
        }
      }
      &__append {
        margin-right: -6px;
        width: 24px;
      }
    }
  }
}

.dropdown {
  @extend .popover;
  &::before {
    display: none;
  }
}
