@use "variables" as *;
@use "typography" as *;
$popup-base-margin: 20px;
.v-dialog[class*="popup"] {
  .v-overlay__content {
    max-width: 834px;
    min-height: 438px;
    max-height: 602px;
  }
  .v-card {
    border-radius: $base-radius !important;
    padding-bottom: 20px;
  }
  .v-card-title {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px 16px 20px;
    min-height: 64px;
    @extend .title-5-bd;
    white-space: normal;
    word-break: keep-all;
    p {
      flex: 1;
      padding-top: 2px;
    }
    .v-btn {
      margin-left: auto;
    }
  }
  .v-card-text {
    position: relative;
    padding: 20px !important;
    white-space: normal;
    .pagination {
      margin-bottom: 0;
    }
  }
  .v-card-actions {
    justify-content: center !important;
    padding: 16px 20px 0;
    margin-bottom: -4px;
  }
  &.popup-sm {
    .v-overlay__content {
      width: 320px !important;
      min-height: 224px;
    }
    .v-card-text {
      min-height: 48px;
      margin-top: -30px;
      padding: 16px 16px 0 !important;
      text-align: center;
      .title-5-bd {
        display: block;
      }
      p {
        display: block;
        margin-top: 4px;
        color: $gray-700;
        &.text-4-bd {
          color: $gray-900;
        }
      }
      .v-icon {
        width: 40px;
        height: 40px;
        margin-top: -16px;
        margin-bottom: 20px;
      }
    }
    .v-card-actions {
      margin-top: 16px;
      padding: 16px 20px 0;
      .v-btn {
        flex: 1;
      }
    }
  }

  //form sheet
  .form-sheet {
    padding: 8px 0 0;
    border-radius: 0;
    .v-row {margin: 0;}
    .v-row + .v-row {margin-top: 0;}
    .v-col {
      grid-template-columns: 150px 1fr;
      //gap: 0;
      padding: 8px 0 !important;
      & > .v-label {
        padding-left: 10px;
        @extend .text-4-md;
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .v-dialog[class*="popup"] {
    .v-card-actions {
      margin-top: 0;
    }
    
    //form sheet
    .form-sheet {
      padding-top: 12px;
      .v-col {
        grid-template-columns: 1fr;
        & > .v-label {
          padding-left: 0px;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .v-dialog[class*="popup"] {
    .v-overlay__content {
      width: 100% !important;
      max-width: calc(100% - 40px) !important;
      min-height: calc(100% - 40px);
      max-height: calc(100% - 40px);
    }
    .v-card-actions .v-btn{
      flex: 1;
    }
  }
}

//header-menu
.popover {
  .v-card {
    position: relative;
    min-width: 160px;
    padding: 0 8px;
    border: thin solid $gray-300;
    .v-list-item {
      .v-list-item-title {
        @extend .text-4;
      }
      &:hover {
        .v-list-item-title {
          font-weight: 600 !important;
        }
      }
      &__append {
        margin-right: -6px;
        width: 24px;
      }
    }
  }
}
