@use "variables" as *;
@use "typography" as *;

.v-switch {
  &.switch-flip {
    .v-selection-control {
      justify-content: space-between;
      flex-direction: row-reverse;
      .v-switch__track {
        height: 20px;
        min-width: 32px;
      }
      .v-label {
        padding-inline-start: 0;
        @extend .text-4;
      }
    }
    .v-selection-control--dirty {
      .v-selection-control__input {
        transform: translateX(6px) !important;
      }
    }
    .v-selection-control__input {
      transform: translateX(-6px) !important;
    }
  }
  .v-selection-control--dirty {
    .v-selection-control__input {
      transform: translateX(10px) !important;
    }
  }
  .v-selection-control__input {
    transform: translateX(-10px) !important;
  }
}

.v-empty-state {
  height: 100%;
  &__media {
    margin-bottom: 20px;
  }
  &__text {
    color: $gray-800;
  }
}

//v-chip
.v-chip {
  &.flag {//flag
    &.v-chip--variant-tonal {
      .v-chip__underlay {display:none;}
    }
    &.text-secondary {background: $blue-100;}
    &.text-purple {background: $purple-100;}
    &.text-pink {background: $pink-100;}
  }
}
