@use "variables" as *;
@use "typography" as *;

.v-switch {
  &.switch-flip {
    .v-selection-control {
      .v-switch__track {
        height: 20px;
        min-width: 32px;
      }
      .v-label {
        padding-inline-start: 0;
        @extend .text-4;
      }
    }
    .v-selection-control--dirty {
      .v-selection-control__input {
        transform: translateX(6px) !important;
      }
    }
    .v-selection-control__input {
      transform: translateX(-6px) !important;
    }
  }
}

.v-card {
  .v-card-item {padding: 0;}
  .v-card-text {padding: 0;}
}

hr.v-divider {
  opacity: 1;
}


//v-chip
.flag.v-chip {//flag
  margin-bottom: 4px;
  font-weight: 600;
  &.v-chip--variant-tonal .v-chip__underlay {display:none;}
  &.v-chip--size {
    &-default {
      --v-chip-height: 24px;
      padding: 0 10px;
    }
    &-small {
      --v-chip-height: 20px;
      padding: 0 8px;
    }
    &-large {
      --v-chip-height: 40px;
      padding: 0 16px;
    }
    
  }
  &.text-success {background: $blue-100;}
  &.text-purple {background: $purple-100;}
  &.text-pink {background: $pink-100;}
  &.text-tertiary {background: $gray-200;}
  @at-root .flag-wrap {
    margin-bottom: -4px;
    .v-chip.flag {//in .apps
      margin-left: 4px;
    }
    &.r {
      text-align: right;
    }
  }
}

//typo
.tit-wrap {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .btns {
    display: flex;
    gap: 12px;
  }
  .date {
    color: $gray-700;
    @extend .text-2;
  }
  &.column {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px ;
  }

  @at-root .mobile, .tablet {
    .tit-wrap {
      margin-bottom: 20px;
      flex-wrap: wrap;
      gap: 20px;
      strong {
        width: 100%;
      }
      .btns {
        gap: 6px;
        @extend .mscroll-area;
      }
      &.column {
        gap: 8px ;
      }
    }
  }
}

.icon-text {
  display: flex;
  gap: 4px;
  align-items: center;
  span {
    @extend .text-2-md;
  }
}

//editor
.editor {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .ql-toolbar.ql-snow {
    height: 44px;
  }
  .ql-container.ql-snow {
    height: calc(100% - 44px);
  }
}

.editor-content {
  font-size: 14px;
  img {border-radius: 20px;}
  @at-root .mobile, .tablet {
    .editor-content {
      img {border-radius: 10px;}
    }
  } 
}

//no data
.v-empty-state {
  width: 100%;
  height: 100%;
  &__media {
    margin-bottom: 20px;
  }
  &__text {
    color: $gray-800;
  }
}

//profile
.edit-profile {
  position: relative;

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: url('@/assets/images/icon_edit_profile.png') no-repeat center / 100%;
  }
}

//slider
.slider {
  overflow: hidden;
  position: relative;
  margin-bottom: $base-margin;

  .v-carousel {
    background: $white;
    .v-carousel-item {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  @at-root .mobile, .tablet {
    .slider {
      margin-bottom: $base-margin-mobile;
    }
  }
}
.slider-controls {
  position: absolute;
  bottom: 58px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  .v-btn--icon {
    width: 20px;
    height: 20px;
    color: $gray-500;
    font-size: 20px;
    .v-icon {
      font-size: 20px;
    }
  }
  .v-btn.prev {
    margin-right: 6px;
  }
  .v-btn.next {
    margin-left: 6px;
  }
  .v-btn.togglePlay {
    margin-left: 6px;
  }
  .dots {
    display: flex;
    align-items: center;
    .v-btn.v-btn--icon {
      overflow: hidden;
      width: 12px;
      & > [class*="ripple"] {
        display: none !important;
      }
      &.active {
        color: $blue-500;
      }
    }
  }
  @at-root .mobile, .tablet {
    .slider-controls {
      bottom: 40px;
    }
  }
}

//section space
section + section {
  margin-top: 120px;
}
.mobile, .tablet {
  section + section {
    margin-top: 60px;
  }
  .v-carousel + .v-container {
    margin-top: 40px !important;
  }
}


//상단 배너
.v-sheet.top-banner {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  @at-root .mobile, .tablet {
    .v-sheet.top-banner {
      margin-bottom: 40px;
    }
  } 
}

.top-banner {
  .v-card {
    padding: 40px 0;
    &-subtitle {
      margin-bottom: 8px;
      @extend .caption-1;
      color: $blue-500;
    }
    &-title {
      @extend .title-1;
    }
    &-text {
      margin-top: 24px;
    }
  }
  @at-root .mobile {
    .top-banner {
      .v-card {
        &-item {
          display: flex;
          flex-direction: column;
          &__content {
            width: 100%;
          }
          &__append {
            margin-top: 97px;
            margin-left: auto;
            padding-inline-end: 0.625rem;
          }
        }
      }
    }
  }
  @at-root .tablet {
    .top-banner {
      .search-inp {
        max-width: 400px;
      }
    }
  }
}


.v-sheet.w-box {
  margin-top: 12px;
  padding: 50px 40px;
  border-radius: $base-radius;
  @at-root .mobile, .tablet {
    .v-sheet.w-box {
      padding: 20px;
    }
  } 
}
.v-sheet.g-box {
  @extend .w-box;
  background: $gray-200;
}

//게시판 목록
.v-list.board-list {
  padding: 0;
  border-radius: 10px;
  .v-list-item {
    padding: 20px !important;
    &-title {
      text-overflow: unset;
      .flag {
        margin-bottom: 6px;
      }
      strong {
        @extend .text-3-md;
        @include line-clamp(1);
      }
    }
    &-subtitle {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      align-items: center;
      margin-top: 2px;
      @extend .text-3;
    }
    &__prepend {
      @extend .text-3;
      max-width: 34px;
      > span {
        width: 34px;
      }
      align-self: flex-start;
    }
    .info {
      display: flex;
      gap: 9px;
      align-items: center;
      span {
        position: relative;
        display: inline-flex;
        &:not(:first-child) {
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -4px;
            width: 1px;
            height: 10px;
            transform: translateY(-50%);
            background-color: $black;
          }
        }
      }
    }
    .files {
      display: flex;
      gap: 4px;
      align-items: center;
      .v-icon {
        font-size: 1.5rem;
      }
    }
  }
  @at-root .mobile, .tablet {
    .v-list.board-list {
      .v-list-item {
        &-title {
          strong {
            @include line-clamp(2);
          }
        }
      }
    }
  }
}
