 @use "variables" as *;

@mixin typography($weight, $line-height, $size) {
  font-size: $size !important;
  font-weight: $weight !important;
  line-height: $line-height !important;
  letter-spacing: 0 !important;
}

//regular 400
//medium 500
//semibold 600
//bold 700
.title-1 {
  @include typography(400, 3.625rem, 2.625rem);
}
.title-1-bd {
  @include typography(700, 3.625rem, 2.625rem);
}
.title-2 {
  @include typography(400, 3.125rem, 2.215rem);
}
.title-2-bd {
  @include typography(600, 3.125rem, 2.215rem);
}
.title-3 {
  @include typography(500, 2.5rem, 2rem);
}
.title-3-bd {
  @include typography(700, 2.5rem, 2rem);
}
.title-4 {
  @include typography(500, 2rem, 1.5rem);
}
.title-4-bd {
  @include typography(600, 2rem, 1.5rem);
}
.title-5 {
  @include typography(500, 1.625rem, 1.125rem);
}
.title-5-bd {
  @include typography(600, 1.625rem, 1.125rem);
}
.text-1 {
  @include typography(500, 1.75rem, 1.25rem);
}
.text-2 {
  @include typography(400, 1.625rem, 1.125rem);
}
.text-2-md {
  @include typography(500, 1.625rem, 1.125rem);
}
.text-3 {
  @include typography(400, 1.5rem, 1rem);
}
.text-3-md {
  @include typography(500, 1.5rem, 1rem);
}
.text-3-bd {
  @include typography(700, 1.5rem, 1rem);
}
.text-4 {
  @include typography(400, 1.25rem, 0.875rem);
}
.text-4-md {
  @include typography(500, 1.25rem, 0.875rem);
}
.text-4-bd {
  @include typography(700, 1.25rem, 0.875rem);
}
.caption-1 {
  @include typography(700, 1.625rem, 1.125rem);
}
.caption-2 {
  @include typography(400, 1.25rem, 0.875rem);
}
.caption-2-md {
  @include typography(500, 1.25rem, 0.875rem);
}
.caption-3 {
  @include typography(400, 1.125rem, 0.75rem);
}
.caption-3-md {
  @include typography(500, 1.125rem, 0.75rem);
}


.mobile {
  .title-1 {
    @include typography(400, 2.125rem, 1.625rem);
  }
  .title-1-bd {
    @include typography(700, 2.125rem, 1.625rem);
  }
  .title-2 {
    @include typography(400, 1.875rem, 1.5rem);
  }
  .title-2-bd {
    @include typography(600, 1.875rem, 1.5rem);
  }
  .title-3 {
    @include typography(500, 1.625rem, 1.25rem);
  }
  .title-3-bd {
    @include typography(700, 1.625rem, 1.25rem);
  }
  .title-4 {
    @include typography(500, 1.625rem, 1.25rem);
  }
  .title-4-bd {
    @include typography(600, 2rem, 1.5rem);
  }
  .title-5 {
    @include typography(500, 1.375rem, 1rem);
  }
  .title-5-bd {
    @include typography(600, 1.375rem, 1rem);
  }
  .text-1 {
    @include typography(500, 1.375rem, 1rem);
  }
  .text-2 {
    @include typography(400, 1.25rem, 1rem);
  }
  .text-2-md {
    @include typography(500, 1.25rem, 1rem);
  }
  .text-3 {
    @include typography(400, 1.25rem, 0.875rem);
  }
  .text-3-md {
    @include typography(500, 1.25rem, 0.875rem);
  }
  .text-3-bd {
    @include typography(700, 1.25rem, 0.875rem);
  }
  .caption-1 {
    @include typography(700, 1.375rem, 1rem);
  }
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.line-clamp {
  @include line-clamp(1);
}
.line-clamp2 {
  @include line-clamp(2);
}
