 @use "variables" as *;

@mixin typography($size, $weight, $line-height) {
  font-size: $size !important;
  font-weight: $weight !important;
  line-height: $line-height !important;
  letter-spacing: 0 !important;
}

//regular 400
//medium 500
//semibold 600
//bold 700
.title-1 {
  @include typography(2.625rem, 400, 3.625rem);
}
.title-2 {
  @include typography(2.215rem, 400, 3.125rem);
}
.title-2-bd {
  @include typography(2.215rem, 600, 3.125rem);
}
.title-3 {
  @include typography(2rem, 500, 2.5rem);
}
.title-3-bd {
  @include typography(2rem, 700, 2.5rem);
}
.title-4 {
  @include typography(1.625rem, 500, 2.125rem);
}
.title-5 {
  @include typography(1.5rem, 500, 2rem);
}
.title-5-bd {
  @include typography(1.5rem, 600, 2rem);
}
.title-6 {
  @include typography(1.125rem, 500, 1.625rem);
}
.title-6-bd {
  @include typography(1.125rem, 700, 1.625rem);
}

.text-1 {
  @include typography(1.25rem, 500, 1.75rem);
}
.text-2 {
  @include typography(1.125rem, 400, 1.625rem);
}
.text-3 {
  @include typography(1rem, 400, 1.5rem);
}
.text-3-md {
  @include typography(1rem, 500, 1.5rem);
}
.text-3-bd {
  @include typography(1rem, 700, 1.5rem);
}
.text-4 {
  @include typography(0.875rem, 400, 1.25rem);
}
.text-4-md {
  @include typography(0.875rem, 500, 1.25rem);
}

.caption-1 {
  @include typography(1.125rem, 700, 1.625rem);
}
.caption-2 {
  @include typography(0.875rem, 400, 1.25rem);
}
.caption-2-md {
  @include typography(0.875rem, 500, 1.25rem);
}
.caption-3 {
  @include typography(0.75rem, 400, 1.25rem);
}
.caption-3-md {
  @include typography(0.75rem, 500, 1.25rem);
}

@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
