// background colors
$bg-default: #fefefe;
$bg-gray: #fafafa;
$bg_overlay: rgba(0, 0, 0, 0.5);
$bg_layer: #fefefe;
$bg-box-deepgray: #c2c2c2;
$bg-box-gray: #f5f5f5;
$bg-box-black: #1c1c1c;

// text colors
$text-primary: #1c1c1c;
$text-secondary: #545454;
$text-tertiary: #767676;
$text-hovered: #252525;
$text-helper: #767676;
$text-unselected: #767676;
$text-placeholder: #767676;
$text-on: #fefefe;
$text-error: #d32226;
$text-success: #12852a;
$text-gray: #c2c2c2;
$text-point: #0279fe;

// border colors
$border-white: #fefefe;
$border-selected: #252525;
$border-subtle: #e5e5e5;
$border-strong: #c2c2c2;
$border-error: #d32226;

// icon colors
$icon-black: #1c1c1c;
$icon-white: #fefefe;
$icon-gray: #c2c2c2;
$icon-deepgray: #666666;
$icon-red: #d32226;

// state colors
$state-positive: #12852a;
$state-negative: #d32226;
$state-warn: #ffb800;
$state-in-progress: #ffb800;
