@forward "fonts";
@forward "typography";
@forward "button";
@forward "form";
@forward "layout";
@forward "joo2";
@forward "popup";
@forward "style";
@forward "main";

ul,
li {
  list-style: none;
}
b,
strong {
  font-weight: 600;
}
em {
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}
a:hover,
a:active {
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.v-card-text {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}
