@forward "fonts";
@forward "typography";
@forward "popup";
@forward "layout";
@forward "style";

ul,
li {
  list-style: none;
}
b,
strong {
  font-weight: 600;
}
em {
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}
a:hover,
a:active {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
