/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@forward 'vuetify/settings' with (
  $layers: true,
  $color-pack: false,
  $footer-background: #212121,
);
