/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`

@forward 'vuetify/settings' with (
  // $layers: true,
  // $color-pack: false,
  $size-scales: (
    'x-small': -2,
    'small': -1,
    'default': 0,
    'large': 0.75,
    'x-large': 2.25
  ),
  $toolbar-prepend-btn-margin-start: 0,
  $toolbar-append-btn-margin-end: 0,
  $footer-background: #212121,
  $footer-flex: 0 0 auto,
  $footer-padding: 8px 0,
  $field-focused-border-width: 1px,
  $badge-theme:(#d32226, #fff),
  $button-border-radius: 8px,
  $button-text-transform: none,
  $button-text-letter-spacing: 0,
  $button-font-weight: 600,
  $button-icon-density: ('default': 1, 'comfortable': -1, 'compact': -3),
);
